.main {
    display: flex;
    min-height: 100vh;
    background-color: #f0f1f7;

    .main-layout {
        width: 100%;
    }

    .main-content {
        width: 100%;
        display: flex;
        color: #000;
        border-radius: 5px;
        margin-top: 85px;
        min-height: calc(100vh - 150px);
    }
}