.note.comment {
    .ant-tabs-top>.ant-tabs-nav::before {
        border-bottom: 2px solid #f0f0f0 !important;
    }

    .ant-tabs .ant-tabs-ink-bar {
        height: 3px;
        background: var(--primary-color) !important;
    }

    .ant-tabs .ant-tabs-tab {
        font-weight: 600;

        &.ant-tabs-tab-active .ant-tabs-tab-btn {
            color: var(--primary-color) !important;
        }
    }
}