.wrapper {
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 16px 20px;
    user-select: none;
    border-radius: 8px;
}

.icon {
    margin-right: 16px;
    font-size: 24px;
    color: var(--primary-color);
}

.text {
    h4 {
        font-size: 18px;
        font-weight: 600;
    }
    p {
        margin-top: 8px;
        line-height: 18px;
        margin-bottom: 0;
        font-size: 14px;
        text-align: justify;
    }
}
