/* footer */
footer {
    // background: url('http://localhost/braintech/public/imgs/landing_page_bg.2ef74fc87402ba954638.png') center center /
    //     cover no-repeat;
    height: '50px';
    padding: 48px 0;
    color: #fff;
    margin-top: 96px;
}

.footer__logo {
    display: flex;
    margin-top: 22px;
    color: #a9b3bb;
    p {
        cursor: pointer;
    }

    &:first-child {
        margin-bottom: 32px;
        margin-top: 0 !important;
        align-items: center;
    }

    img {
        width: 50px;
        border-radius: 6px;
    }

    .icon {
        font-size: 20px;
        margin-right: 12px;
    }
}

.footer__title {
    font-weight: 600;
    font-size: 18px;
    color: var(--white-color);
    margin-left: 12px;
    text-transform: uppercase;
}

.text_first {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.footer__desc {
    h3 {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
    p {
        font-size: 14px;
        margin-bottom: 22px;
        color: #a9b3bb;
        cursor: pointer;
    }
}
